.App {
 background: grey;
 display: flex;
}

.App .datos{
  text-align: center;
  background: rgb(84, 235, 84);
  color: black;
  margin: 10px 20px;
  width: 30%;
  padding: 20px;

}

.App .hobies{
  text-align: center;
  background: rgb(13, 113, 206);
  color: black;
  margin: 10px 20px;
  width: 30%;
  padding: 20px;

}

.App .conocimiento{
  text-align: center;
  background: rgb(223, 116, 16);
  color: black;
  margin: 10px 20px;
  width: 30%;
  padding: 20px;

}

.App .comida{
  text-align: center;
  background: rgb(216, 16, 223);
  color: black;
  margin: 10px 20px;
  width: 30%;
  padding: 20px;

}